@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus, input:hover {
    outline: none;
    /* box-shadow: 0px 0px 4px 2px #dadada; */
}

footer p, header p{
  padding: 0.5em;
  color: rgb(127, 127, 127);
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}

@media (max-width:415px) {
  #google{
    width: 250px;
  }
  #footerP{
    flex-direction: column;
  }

  footer p{
    padding:0.2em 0.5em
  }
}
