.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 3rem;
  max-height: 100vh;
}

.wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card{
  width:80%;
  max-width: 350px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  padding:15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 2px #dadada;
  margin:15px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
